<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ordre-travail-client-heading" jhiTranslate="gpmGatewayApp.missionServiceOrdreTravailClient.home.createOrEditLabel">Create or edit a Ordre Travail Client</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceOrdreTravailClient.demandeur" for="field_demandeur">Demandeur</label>
                    <input type="text" class="form-control" name="demandeur" id="field_demandeur"
                           formControlName="demandeur"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceOrdreTravailClient.origine" for="field_origine">Origine</label>
                    <input type="text" class="form-control" name="origine" id="field_origine"
                           formControlName="origine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceOrdreTravailClient.motif" for="field_motif">Motif</label>
                    <input type="text" class="form-control" name="motif" id="field_motif"
                           formControlName="motif"/>
                    <div *ngIf="editForm.get('motif')!.invalid && (editForm.get('motif')!.dirty || editForm.get('motif')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('motif')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
