<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.missionServiceTache.home.title">Taches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tache" [routerLink]="['/tache/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.missionServiceTache.home.createLabel">
            Create a new Tache
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taches?.length === 0">
        <span jhiTranslate="gpmGatewayApp.missionServiceTache.home.notFound">No taches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taches && taches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="roleMission"><span jhiTranslate="gpmGatewayApp.missionServiceTache.roleMission">Role Mission</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="gpmGatewayApp.missionServiceTache.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remboursement"><span jhiTranslate="gpmGatewayApp.missionServiceTache.remboursement">Remboursement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tache of taches ;trackBy: trackId">
                    <td><a [routerLink]="['/tache', tache.id, 'view']">{{ tache.id }}</a></td>
                    <td>{{ tache.roleMission }}</td>
                    <td>{{ tache.note }}</td>
                    <td>{{ tache.remboursement }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tache', tache.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tache', tache.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tache)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="taches && taches.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
