<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tache-heading" jhiTranslate="gpmGatewayApp.missionServiceTache.home.createOrEditLabel">Create or edit a Tache</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceTache.roleMission" for="field_roleMission">Role Mission</label>
                    <input type="text" class="form-control" name="roleMission" id="field_roleMission"
                           formControlName="roleMission"/>
                    <div *ngIf="editForm.get('roleMission')!.invalid && (editForm.get('roleMission')!.dirty || editForm.get('roleMission')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roleMission')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceTache.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                           formControlName="note"/>
                    <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('note')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceTache.remboursement" for="field_remboursement">Remboursement</label>
                    <input type="number" class="form-control" name="remboursement" id="field_remboursement"
                           formControlName="remboursement"/>
                    <div *ngIf="editForm.get('remboursement')!.invalid && (editForm.get('remboursement')!.dirty || editForm.get('remboursement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remboursement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('remboursement')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
