<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.home.title">Ordre Facturations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ordre-facturation" [routerLink]="['/ordre-facturation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.home.createLabel">
            Create a new Ordre Facturation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ordreFacturations?.length === 0">
        <span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.home.notFound">No ordreFacturations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ordreFacturations && ordreFacturations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="devis"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.devis">Devis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bonDeCommande"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.bonDeCommande">Bon De Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroFacture"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.numeroFacture">Numero Facture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantFacture"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.montantFacture">Montant Facture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFacture"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.dateFacture">Date Facture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateEcheance"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.dateEcheance">Date Echeance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDecharge"><span jhiTranslate="gpmGatewayApp.facturationServiceOrdreFacturation.dateDecharge">Date Decharge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ordreFacturation of ordreFacturations ;trackBy: trackId">
                    <td><a [routerLink]="['/ordre-facturation', ordreFacturation.id, 'view']">{{ ordreFacturation.id }}</a></td>
                    <td>{{ ordreFacturation.devis }}</td>
                    <td>{{ ordreFacturation.bonDeCommande }}</td>
                    <td>{{ ordreFacturation.numeroFacture }}</td>
                    <td>{{ ordreFacturation.montantFacture }}</td>
                    <td>{{ ordreFacturation.dateFacture | date:'mediumDate' }}</td>
                    <td>{{ ordreFacturation.dateEcheance | date:'mediumDate' }}</td>
                    <td>{{ ordreFacturation.dateDecharge | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ordre-facturation', ordreFacturation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ordre-facturation', ordreFacturation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ordreFacturation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ordreFacturations && ordreFacturations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
