<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.ressourceServiceTauxConsommationVehicule.home.title">Taux Consommation Vehicules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-taux-consommation-vehicule" [routerLink]="['/taux-consommation-vehicule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.ressourceServiceTauxConsommationVehicule.home.createLabel">
            Create a new Taux Consommation Vehicule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tauxConsommationVehicules?.length === 0">
        <span jhiTranslate="gpmGatewayApp.ressourceServiceTauxConsommationVehicule.home.notFound">No tauxConsommationVehicules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tauxConsommationVehicules && tauxConsommationVehicules.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="gpmGatewayApp.ressourceServiceTauxConsommationVehicule.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valeur"><span jhiTranslate="gpmGatewayApp.ressourceServiceTauxConsommationVehicule.valeur">Valeur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tauxConsommationVehicule of tauxConsommationVehicules ;trackBy: trackId">
                    <td><a [routerLink]="['/taux-consommation-vehicule', tauxConsommationVehicule.id, 'view']">{{ tauxConsommationVehicule.id }}</a></td>
                    <td>{{ tauxConsommationVehicule.date | date:'mediumDate' }}</td>
                    <td>{{ tauxConsommationVehicule.valeur }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/taux-consommation-vehicule', tauxConsommationVehicule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/taux-consommation-vehicule', tauxConsommationVehicule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tauxConsommationVehicule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tauxConsommationVehicules && tauxConsommationVehicules.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
