<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.clientServiceSociete.home.title">Societes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-societe" [routerLink]="['/societe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.clientServiceSociete.home.createLabel">
            Create a new Societe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="societes?.length === 0">
        <span jhiTranslate="gpmGatewayApp.clientServiceSociete.home.notFound">No societes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="societes && societes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="raisonSociale"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.raisonSociale">Raison Sociale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="raisonSocialeAbrege"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.raisonSocialeAbrege">Raison Sociale Abrege</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identifiantUnique"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.identifiantUnique">Identifiant Unique</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registreCommerce"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.registreCommerce">Registre Commerce</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeArticle"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.codeArticle">Code Article</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePostal"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.codePostal">Code Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pays"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.pays">Pays</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fax"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="gpmGatewayApp.clientServiceSociete.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let societe of societes ;trackBy: trackId">
                    <td><a [routerLink]="['/societe', societe.id, 'view']">{{ societe.id }}</a></td>
                    <td>{{ societe.raisonSociale }}</td>
                    <td>{{ societe.raisonSocialeAbrege }}</td>
                    <td>{{ societe.identifiantUnique }}</td>
                    <td>{{ societe.registreCommerce }}</td>
                    <td>{{ societe.codeArticle }}</td>
                    <td>{{ societe.adresse }}</td>
                    <td>{{ societe.codePostal }}</td>
                    <td>{{ societe.pays }}</td>
                    <td>{{ societe.telephone }}</td>
                    <td>{{ societe.fax }}</td>
                    <td>{{ societe.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/societe', societe.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/societe', societe.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(societe)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="societes && societes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
