<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.home.title">Frais Missions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-frais-mission" [routerLink]="['/frais-mission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.home.createLabel">
            Create a new Frais Mission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fraisMissions?.length === 0">
        <span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.home.notFound">No fraisMissions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fraisMissions && fraisMissions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantTotal"><span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.montantTotal">Montant Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="avanceRecue"><span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.avanceRecue">Avance Recue</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="netAPayer"><span jhiTranslate="gpmGatewayApp.facturationServiceFraisMission.netAPayer">Net A Payer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fraisMission of fraisMissions ;trackBy: trackId">
                    <td><a [routerLink]="['/frais-mission', fraisMission.id, 'view']">{{ fraisMission.id }}</a></td>
                    <td>{{ fraisMission.dateDebut | date:'mediumDate' }}</td>
                    <td>{{ fraisMission.dateFin | date:'mediumDate' }}</td>
                    <td>{{ fraisMission.montantTotal }}</td>
                    <td>{{ fraisMission.avanceRecue }}</td>
                    <td>{{ fraisMission.netAPayer }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/frais-mission', fraisMission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/frais-mission', fraisMission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fraisMission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fraisMissions && fraisMissions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
