<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-site-mission-heading" jhiTranslate="gpmGatewayApp.missionServiceSiteMission.home.createOrEditLabel">Create or edit a Site Mission</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceSiteMission.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceSiteMission.commentaire" for="field_commentaire">Commentaire</label>
                    <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                           formControlName="commentaire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceSiteMission.dateHeureDebutReel" for="field_dateHeureDebutReel">Date Heure Debut Reel</label>
                    <div class="d-flex">
                        <input id="field_dateHeureDebutReel" type="datetime-local" class="form-control" name="dateHeureDebutReel" formControlName="dateHeureDebutReel" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateHeureDebutReel')!.invalid && (editForm.get('dateHeureDebutReel')!.dirty || editForm.get('dateHeureDebutReel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateHeureDebutReel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateHeureDebutReel')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceSiteMission.dateHeureFinReel" for="field_dateHeureFinReel">Date Heure Fin Reel</label>
                    <div class="d-flex">
                        <input id="field_dateHeureFinReel" type="datetime-local" class="form-control" name="dateHeureFinReel" formControlName="dateHeureFinReel" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateHeureFinReel')!.invalid && (editForm.get('dateHeureFinReel')!.dirty || editForm.get('dateHeureFinReel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateHeureFinReel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateHeureFinReel')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
