<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="siteMission">
            <h2><span jhiTranslate="gpmGatewayApp.missionServiceSiteMission.detail.title">Site Mission</span> {{ siteMission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gpmGatewayApp.missionServiceSiteMission.code">Code</span></dt>
                <dd>
                    <span>{{ siteMission.code }}</span>
                </dd>
                <dt><span jhiTranslate="gpmGatewayApp.missionServiceSiteMission.commentaire">Commentaire</span></dt>
                <dd>
                    <span>{{ siteMission.commentaire }}</span>
                </dd>
                <dt><span jhiTranslate="gpmGatewayApp.missionServiceSiteMission.dateHeureDebutReel">Date Heure Debut Reel</span></dt>
                <dd>
                    <span>{{ siteMission.dateHeureDebutReel }}</span>
                </dd>
                <dt><span jhiTranslate="gpmGatewayApp.missionServiceSiteMission.dateHeureFinReel">Date Heure Fin Reel</span></dt>
                <dd>
                    <span>{{ siteMission.dateHeureFinReel }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/site-mission', siteMission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
