<body>
<div class="container">
    <div id="time">
        <div class="circle" style="--color: #ff2972">
            <div class="dots h_dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70" class="base-circle"></circle>
                <circle #hrs cx="70" cy="70" r="70" class="progress-circle hours-circle"></circle>
            </svg>
            <div id="hours">
                <p #hrsText>00</p>
                <p class="time-text">Hours</p>
            </div>
        </div>
        <div class="circle" style="--color: #fee800">
            <div class="dots m_dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70" class="base-circle"></circle>
                <circle #mins cx="70" cy="70" r="70" class="progress-circle minutes-circle"></circle>
            </svg>
            <div id="minutes">
                <p #minsText>00</p>
                <p class="time-text">Minutes</p>
            </div>
        </div>
        <div class="circle" style="--color: #04fc43">
            <div class="dots s_dot"></div>
            <svg>
                <circle cx="70" cy="70" r="70" class="base-circle"></circle>
                <circle #secs cx="70" cy="70" r="70" class="progress-circle seconds-circle"></circle>
            </svg>
            <div id="seconds">
                <p #secsText>00</p>
                <p class="time-text">Seconds</p>
            </div>
        </div>
        <div class="ap">
            <div #ampmText id="ampm">AM</div>
        </div>
    </div>
</div>
