<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-article-mission-heading" jhiTranslate="gpmGatewayApp.missionServiceArticleMission.home.createOrEditLabel">Create or edit a Article Mission</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceArticleMission.quantitePlanifiee" for="field_quantitePlanifiee">Quantite Planifiee</label>
                    <input type="number" class="form-control" name="quantitePlanifiee" id="field_quantitePlanifiee"
                           formControlName="quantitePlanifiee"/>
                    <div *ngIf="editForm.get('quantitePlanifiee')!.invalid && (editForm.get('quantitePlanifiee')!.dirty || editForm.get('quantitePlanifiee')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantitePlanifiee')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantitePlanifiee')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpmGatewayApp.missionServiceArticleMission.quantiteUtilisee" for="field_quantiteUtilisee">Quantite Utilisee</label>
                    <input type="number" class="form-control" name="quantiteUtilisee" id="field_quantiteUtilisee"
                           formControlName="quantiteUtilisee"/>
                    <div *ngIf="editForm.get('quantiteUtilisee')!.invalid && (editForm.get('quantiteUtilisee')!.dirty || editForm.get('quantiteUtilisee')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantiteUtilisee')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantiteUtilisee')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
