<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.missionServiceArticleMission.home.title">Article Missions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article-mission" [routerLink]="['/article-mission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.missionServiceArticleMission.home.createLabel">
            Create a new Article Mission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="articleMissions?.length === 0">
        <span jhiTranslate="gpmGatewayApp.missionServiceArticleMission.home.notFound">No articleMissions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="articleMissions && articleMissions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantitePlanifiee"><span jhiTranslate="gpmGatewayApp.missionServiceArticleMission.quantitePlanifiee">Quantite Planifiee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantiteUtilisee"><span jhiTranslate="gpmGatewayApp.missionServiceArticleMission.quantiteUtilisee">Quantite Utilisee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articleMission of articleMissions ;trackBy: trackId">
                    <td><a [routerLink]="['/article-mission', articleMission.id, 'view']">{{ articleMission.id }}</a></td>
                    <td>{{ articleMission.quantitePlanifiee }}</td>
                    <td>{{ articleMission.quantiteUtilisee }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/article-mission', articleMission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/article-mission', articleMission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(articleMission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="articleMissions && articleMissions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
