<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.home.title">Vehicules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicule" [routerLink]="['/vehicule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.home.createLabel">
            Create a new Vehicule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vehicules?.length === 0">
        <span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.home.notFound">No vehicules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vehicules && vehicules.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="marque"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.marque">Marque</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matricule"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nbPlaces"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.nbPlaces">Nb Places</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroCarteGrise"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.numeroCarteGrise">Numero Carte Grise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCirculation"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.dateCirculation">Date Circulation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeCarburant"><span jhiTranslate="gpmGatewayApp.ressourceServiceVehicule.typeCarburant">Type Carburant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicule of vehicules ;trackBy: trackId">
                    <td><a [routerLink]="['/vehicule', vehicule.id, 'view']">{{ vehicule.id }}</a></td>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.type }}</td>
                    <td>{{ vehicule.matricule }}</td>
                    <td>{{ vehicule.nbPlaces }}</td>
                    <td>{{ vehicule.numeroCarteGrise }}</td>
                    <td>{{ vehicule.dateCirculation | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'gpmGatewayApp.TypeCarburant.' + vehicule.typeCarburant }}">{{ vehicule.typeCarburant }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vehicule', vehicule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vehicule', vehicule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vehicule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="vehicules && vehicules.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
